.light-theme { 
  background-color: #ffffff; 
  color: #171717; 
}

.light-theme h1,
.light-theme h2 {
  color: #171717;
}

.dark-theme { 
  background-color: #171717;
  color: #ffffff;
}

.dark-theme h1,
.dark-theme h2 {
  color: #ffffff;
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.center-container {
  text-align: center;
}

h1 {
  white-space: pre-line;
  font-weight: 110;
  font-style: normal;
  font-size: 25px;
  flex-shrink: 0;
  
}

h2 {
  margin-left: 180px;
  margin-top: 80px;
  font-weight: 190;
  font-style: normal;
  font-size: 17px;
  white-space: nowrap; 
}