html, body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #171717;
  font-family: 'Segoe UI', Roboto, Ubuntu, sans-serif;
  color: #ffffff;
}

.center-container {
  text-align: center;
}

h1 {
  color: #ffffff;
  white-space: pre-line;
  font-weight: 110;
  font-style: normal;
  font-size: 25px;
}

h2 {
  color: #ffffff;
  margin-left: 180px;
  margin-top: 80px;
  font-weight: 110;
  font-style: normal;
  font-size: 22px;
  white-space: nowrap;
}
